{
  "AZURE_OPENAI_API_KEY": "<yours>",
  "AZURE_OPENAI_ENDPOINT": "https://<yours>.openai.azure.com/",
  "AZURE_OPENAI_API_VERSION": "2025-04-01-preview",
  "AZURE_OPENAI_DEPLOYMENT_NAME": "gpt-4.1",
  "AZURE_OPENAI_QUERY_DEPLOYMENT_NAME": "gpt-4o-mini",
  "LOG_LEVEL": "DEBUG",
  "MAX_TOKENS": "1500",
  "DEFAULT_TEMPERATURE": "0.7",
  "REDIS_USE": "False",
  "REDIS_HOST": "localhost",
  "REDIS_PORT": "6379",
  "REDIS_PASSWORD": "<yours>",
  "REDIS_DB": "0",
  "REDIS_CACHE_EXPIRED_SECOND": "604800",
  "AZURE_AI_SEARCH_ENDPOINT": "https://<yours>.search.windows.net",
  "AZURE_AI_SEARCH_API_KEY": "<yours>",
  "AZURE_AI_SEARCH_INDEX_NAME": "doc_inquiry_index",
  "AZURE_AI_SEARCH_SEARCH_TYPE": "semantic",
  "AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT": "https://<yours>.cognitiveservices.azure.com/",
  "AZURE_DOCUMENT_INTELLIGENCE_API_KEY": "<yours>",
  "PROCESSING_METHOD": "semantic",
  "PLANNER_MAX_PLANS": "3",
  "AUTH_USERNAME":"<yours>",
  "AUTH_PASSWORD":"<yours>",
  "CHAINLIT_AUTH_SECRET":"<yours>"
}